<div class="container">
    <div class="row pt-5" style="justify-content:center;" id="file_loader">
        <!-- Grid column -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center default-text py-3"><i class="fa fa-lock"></i> Carga XLS</h3>
                    <!--Body-->
                    <input class="btn btn-secondary" type='file' name='file' id='file'><br/>
                    <br>
                    <input class="btn btn-primary" type='button' value='Subir Archivo' id='upload' ng-click='uploadFile()' >
                </div>
            </div>
            <br>
            <br>
            <a href="https://github.com/software-solutions-mexico/oxford-app-ui/raw/master/resources/Plantilla.xls" class="btn btn-success">
                Descargar plantilla
                <i class="fas fa-file-excel"></i>
            </a>
        </div>
    </div>
    <div class="row pt-5" style="justify-content:center;">
        <h4> {{upload_state}} </h4>
    </div>
</div>
