<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="init">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-0">JDCP
                <span class="text-primary">Hub</span>
            </h1>
            <div class="subheading mb-5">John Deere Custom Performance
                <a href="https://jdcp.deere.com/jdcp/" target="_new_blank">Main Platform</a>
            </div>
            <p class="lead mb-5">This page has been created to centralize any util knowledge relative to JDCP with simple and elegant user experience and is planned a continuous knowledge increment.</p>
            <hr>
            <h4>JDCP Util Shortcuts</h4>
            <div class="social-icons">
                <div class="row" >
                    <ul class="list-group-horizontal-lg row">
                        <li class="list-group-item p-3" ng-repeat="shortcut in jdcp_shortcuts" style="border: 0px;">
                            <a href="{{shortcut.link}}" target="_blank">
                                <i class="{{shortcut.icon}}"></i>
                            </a>
                            {{shortcut.title}}
                        </li>
                    </ul>
                </div>
                <hr>
                <div class="row" >
                    <ul class="list-group-horizontal-lg row">
                        <li class="list-group-item p-3" ng-repeat="shortcut in jd_shortcuts" style="border: 0px;">
                            <a href="{{shortcut.link}}" target="_">
                                <i class="{{shortcut.icon}}"></i>
                            </a>
                            {{shortcut.title}}
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>

<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="teams">
    <div class="w-100">
        <h2 class="mb-5">Teams</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <a href ng-click="showGuacaSite()">
                    <h3 class="mb-0">Team Guacamole</h3>
                </a>
                <div class="subheading mb-3">Mexico JDCP Team</div>
                <p>Guacamole name comes from the team origin and the global popularity guacamole, following the company color, the avocados set like a solid squad, delicious and premium ingredient, the Team Guacamole represents this and other stuff things.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">July 2019 - Present</span>
            </div>
        </div>
    </div>

</section>